.Head_div{
    /* border: 2px black solid; */
    height: 50px;
    display: flex;
    justify-content: right;
    padding-top: 5px;
    background-color: whitesmoke;
}
.Head_div button{
    height: 40px;
    width: 160px;
    margin: 0px;
    padding: 0px;
    font-size: larger;
    margin-right: 90px;
    background-color: dodgerblue;
    border-radius: 20px;
    box-shadow: -2px 2px rgba(0,0,0,0.5);
    border: none;
}